/* Configuraciones base de buena práctica */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: roboto, system-ui, sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1 {
  font-size: var(--gd-title);
}

h3 {
  font-size: var(--sm-title);
}

p {
  font-size: var(--txt);
}

button[type="submit"] {
  border: none;
  background: var(--color-primary);
  cursor: pointer;
  height: 48px;
  border-radius: var(--radious);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-surface);
  width: 100%;
}

button[type="submit"]:hover {
  border: none;
  outline: none;
  background: var(--color-primary-hover);
}

input[type="text"] {
  border: none;
  border-bottom: var(--border-st);
  font-size: var(--txt);
  padding: 4px 0 4px 8px;
  background: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  border: var(--border-thin);
  background: none;
  padding: 4px 8px;
  border-radius: var(--radious);
  cursor: pointer;
}

.view-container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}